body{
 
    background-color: black;
    color: gold;
    min-width: 160px;
    min-height: 160px;
    font-size: 20px;
}
.button {
    background-color: gold;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
    cursor: pointer;
  }
.button:hover{
    background-color: blue;
    transition: 0.7s;
}

